.details-card {
  border-radius: 5px;
  margin: 20px;

  background-color: rgb(144, 63, 220);

  overflow: auto;
}

.card-body {
  width: calc(100% - 20px);
  height: calc((100vh - 40px) / 2);

  border-radius: 5px;
  margin: 20px;

  overflow: auto;
}

.txt {
  margin: 10px;
  text-align: center;

  overflow: auto;
}

.hidden {
  display: none;
}
